.books-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 0;
}

.books-list .book {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 275px;
  background: #fff;
  color: var(--my-font-color);
  margin: 1.2em;
  position: relative;
  border: 1px solid rgba(0,0,0,0.3);
}

.books-list .img-section {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.books-list .book img {
  max-width: 100%;
  height: 120px;
  border: 1px solid #000;
}

.books-list .book .info {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.books-list .book .info .line {
  border-bottom: 3px solid rgba(17, 17, 16, 0.1);
  padding: 5px;
}

.books-list .book .info .line.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.books-list .book .info span {
  color: gold;
  text-align: center;
}

.books-list .book .btn {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.books-list .book .btn button {
  width: 50%;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: var(--my-font-color);
  background: rgba(255, 255, 0, 1);
  border: 1px solid rgba(0,0,0,0.5);
  outline: none;
  font-size: 14px;
  font-weight: 700;
}


.books-list .book .btn button:hover {
  transition: 0.2s ease-in-out;
  background: var(--primary-color);
}

.book .info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.books-list .record-not-found {
  width: 100%;
  padding: 20px;
}